#picture {
  width: 30vh;
}

body {
  background-color: blue;
  background-image:
    radial-gradient(circle at top right,
      #20486a,
      #00839e 70%);
}

#container {
  display: block;
  text-align: center;
  width:250px;
  height:100px;
  position: absolute;
  margin: auto;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}


.btn{
  width:250px;
  height: 100px;
}


