#title {
    padding: 5%;
    font-size: 5vw;
    text-align: center;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: grey;

}
.navbar {
    
    overflow: hidden;
    background-color:darkgrey;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #picture{
     width:20vw;
  }
  #container{
      padding-bottom:10vw;
  }
  
 

