
  #picture {
    width: 30vh;
  }

  #container{
    padding-bottom:10%;
  }
  
  body {
    background: rgb(32, 72, 106);
    background: linear-gradient(90deg, rgba(32, 72, 106, 1) 0%, rgba(0, 131, 158, 1) 100%);
  }