#picture {
  width: 30vh;
}

#container {
  padding-bottom: 10%;
}

/*
source: https://cssgradient.io/
*/
body {
  background-color: blue;
  background-image:
    radial-gradient(circle at top right,
      #20486a,
      #00839e 70%);
  background-attachment: fixed;
}